<div class="container-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <form [formGroup]="signupForm" (ngSubmit)="signup()">
            <div class="mb-3">
              <h4 class="text-dark text-muted">SignUp</h4>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                autocomplete="off"
              />
            </div>
            <div class="error" *ngIf="formSubmitted">
              <div *ngIf="signupForm.get('email').hasError('required')">
                Email is required.
              </div>
              <div
                *ngIf="
                  signupForm.get('email').hasError('email') &&
                  signupForm.get('email').touched
                "
              >
                Please enter a valid email address.
              </div>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password
              </label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                autocomplete="off"
              />
            </div>
            <div class="error" *ngIf="formSubmitted">
              <div *ngIf="signupForm.get('password').hasError('required')">
                Password is required.
              </div>
              <div *ngIf="signupForm.get('password').hasError('minlength')">
                Password must be at least 8 characters long.
              </div>
              <div
                *ngIf="
                  signupForm.get('password').hasError('pattern') &&
                  password.touched
                "
              >
                Password must contain at least one uppercase letter, one
                lowercase letter, and one digit.
              </div>
            </div>

            <button type="submit">signup</button>
            <!-- <button type="submit" class="btn btn-info" (click)="signup()">
              Register
            </button> -->
            <div class="row">
              <div class="col-md-6">
                <a routerLink="/login" style="text-decoration: none"
                  >Have an account ? <span class="text-danger">Login</span></a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
